html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

                                                                   /* PROJET 2 BOOKI */

                                                        /* configuration pour un écran de plus de 992px  */
body {
  font-family: "Raleway", sans-serif;
  width: 1200px;
  margin: auto;
  font-size: 12px;
}

.navigation, header, main {
  margin-left: 30px;
  margin-right: 30px;
}
                                                               /* BARRE DE NAVIGATION */
.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
} 
.nav_logo_gauche {
  max-width: 150px;
  padding: 20px 10px 0px 20px;
  margin-bottom: 20px;
}
.nav_logo_centre {
  display: none;
}
.navigation a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  border-top: 3px solid transparent;
  padding: 40px 20px 10px 20px;
}
.navigation a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
.navigation a:focus {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
                                                              /* HEADER */
h1 {
  font-size: 16px;
}

.formulaire {
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

form {
  height: 30px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 10px;
  position: relative;
}
label {
  height: 30px;
  width: 30px;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  transform: translate(-30px, 0px);
}
.icon_lieu {
  position: absolute;
  z-index: 1;
  transform: translate(-200%, 70%);
}
.ville {
  font-family: "Raleway", sans-serif;
  background-color: white;
  border: 1px solid #f2f2f2;
  font-weight: 700;
  height: 30px;
  width:240px;
  padding-left: 10px;
  
}
.bouton_texte {
  background-color: #0065fc;
  color: white;
  height: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 700;
  padding: 10px;
  border: 1px solid #0065fc;
  border-radius: 0px 10px 10px 0px; 
  position: absolute;  
  right:0px;
}
.loupe {
  display: none;
}
.rond {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -8px;
}
.icone {
  color: #0065fc;
}
.texte_filtres {
  margin-right: 20px;
}
.filtres {
  font-weight: 700;
  display: flex;
  align-items: baseline;
}
.filtre {
  margin: 10px 5px 5px 20px;
  padding: 10px;
  border: 2px solid #f2f2f2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 40px;
  position: relative;
}
.info {
  display: flex;
  align-items: center;
}
.rond_info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f2f2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.icone_info {
  color: #0065fc;
}

                                                                     /* MAIN */
.section_h_p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h2 {
  /* max-width: 60%; */
  font-size: 16px;
  font-weight: bold;
}

                                                                 /* HEBERGEMENTS */

.section_h h2 {
  padding-left:20px;
}
.section_h {
  width: 70%;
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  line-height: 80%;
}

.cartes {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.carte_h {
  min-width:230px;
  /* max-width: 100%; */
  margin: 10px;
  background-color: white;
  border: 4px solid white;
  border-radius: 20px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.16);
}
.photo_h {
  /* height:350px;
  width:240px; */
  height: 100px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.details_hebergements {
  background-color: white;
  border-radius: 0 0 20px 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 80px; */
  /* padding: 0px 10px; */
}
.nom {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
}
.prix {
  font-size: 12px;
  margin-top: 10px;
}
.etoile i, .etoile_p i {
  color: #0065fc;
  font-size:10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* .etoile i, .etoile_p i {
  font-size: 10px;
} */
/* .etoile_p i {
  font-size: 12px;
} */
.carte_h1 i:last-child {
  color: #f2f2f2;
}
.carte_h3 i:last-child {
  color: #f2f2f2;
}
.carte_h4 i:last-child {
  color: #f2f2f2;
}
.carte_h4 i:nth-last-child(2) {
  color: #f2f2f2;
}
.carte_h5 i:last-child {
  color: #f2f2f2;
}
.plus {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: black;
  display: block;
}
                                                                    /* LES PLUS POPULAIRES */
aside {
  /* width: 28%; */
  margin-top: 20px;
  /* padding: 20px 20px 10px 20px; */
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
aside h2 {
  width: 70%;
}
/* .populaire {
  height: 100%;
} */
.titre {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.icone_fleche {
  color: black;
}
.cartes_p {
  min-height: 420px;
  /* max-width: 280px; */
  margin-bottom: 20px;
  /* padding: 20px 20px 0px 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carte_p {
  height: 118px;
  /* height: 100%; */
  width: 280px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.16);
  border: 4px solid white;
  display: flex;
}
/* .carte_p3 {
  margin-bottom: none;
} */
.photo_p {
  height: 110px;
  width: 35%;
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}
.details_populaires {
  width: 55%;
  /* margin-top:10px; */
  margin-left: 20px;
  padding-right:35px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .etoile_p {
  margin-top: 20px;
} */
.carte_p2 i:last-child {
  color: #f2f2f2;
}
.carte_p3 i:last-child {
  color: #f2f2f2;
}
                                                                    /* ACTIVITES A MARSEILLE */
.section_a {
  width: 100%;
  margin: 30px 0px 20px 0px;
} 
.activites {
  width:auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.photo_1{
  height:340px;
  width: 250px;
}
.photo_2 {
  height: 160px;
  width: 250px;
}
.photo_5 {
  height: 120px;
  width: 250px;
}
.photo_3 {
  height: 340px;
  width: 250px;
}
.photo_4 {
  height: 130px;
  width: 250px;
}
.photo_6 {
  height: 150px;
  width: 250px;
}
/* .activite_2_5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 
.activite_4_6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}  */
.carte_a {
  width: 22%;
  display: inline-block;
  border-radius: 20px;
}
.photo_a {
  width: 100%;

  border-radius: 20px 20px 20px 20px;
  /* overflow: hidden; */
  object-fit: cover;
  position: relative;
}
.legende {
  background-color: white;
  width: 100%;
  font-weight: 700;
  padding: 20px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.16);
  transform: translate(0px, -35px);
}
                                                                                /* FOOTER */
.nav_footer {
  /* margin-top: 40px; */
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.nav {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
ul {
  margin-top: 0px;
  padding-left: 0px;
}
li {
  margin-bottom: 10px;
}
.lien {
  color: black;
  text-decoration: none;
}
.lien:hover {
  color:#0065fc;
}
.liste {
  list-style: none;
}

                                                        /* configuration pour un écran de tablette de 768px à 992px */

/* @media all and (min-width: 768px) and (max-width: 992px) {

.loupe {
    display: none;
  }
.header {
  display: flex;
  flex-direction: column;
  align-items:center;
}
.formulaire {
  display: flex;
  justify-content: center;
}
.section_h {
    width: 100%;
  }
main {
    flex-direction: column;
  }
aside {
    width: 100%;
  }
.cartes_p {
    width: 100%;
    flex-direction: row;
  }
  
 } */


                                                     /* configuration pour écran de téléphone jusqu'à 768px */
/* 
@media all and (max-width: 768px) {

  .navigation {
    margin:0;
    width: 100%;
    flex-direction: column;
    align-content: center;
  }
  .navigation a {
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
  }
  .navigation a:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }
  .navigation a:focus {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }
  .nav_logo_gauche {
    display:none;
  }
  .nav_logo_centre{
    display: block;
    padding: 20px 10px 0px 20px;
  }
 .nav_a_h {
   width: 100%;
   margin:0;
 }
 header {
   margin-top:20px;
 }
  .header {  
 
    display: flex;
    flex-direction: column;
    align-items:center;
    
  }
  .formulaire {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  form {
    margin-top: 10px;
    position:relative;
  }
.ville {
  width: 180px;
}
  .loupe {
    height: 30px;
    width: 30px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #0065fc;
    background-color: #0065fc;
    color: white;
    position:absolute;
    right:0px;
    display:inline-block;
  }
  .icone_loupe {
    font-size:10px;
  }
  .bouton_texte {
    display: none;
  }
  .filtres {
    max-width: 289px;
    display: flex;
    flex-wrap: wrap;
  }
  .texte_filtres {
    flex-basis: 150px;
  }
  .filtre {
    margin: 5px;
    padding: 10px 5px 10px 35px;
  }
  .rond_info {
    width: 28px;
    margin-left: 5px;
  }
  main {
    flex-direction: column-reverse;
  }
  aside {
    width: 100%;
  }
  .carte_p {
    width: 100%;
  }
  .section_h {
    width: 100%;


  }

  h2 {
    width: 100%;
    margin-left:0;
  }
  .hebergements {
    width:100%;
    display: flex;

  }

  .carte_h {
    min-width:200px;
    max-width:300px;

  }
  .plus {
    margin-left: 0px;
  }

  .carte_p {
    width: 100px;
  }
  .section_a:nth-child(1) {
    order: 2;
      } 

  .nav_footer {
    margin-top: 20px;
  }
} */