html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

                                                                   /* PROJET 2 BOOKI */

                                                        /* configuration pour un écran de plus de 992px  */
body {
  width: 1200px;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  margin: auto;
}

.navigation, header, main {
  padding-left: 30px;
  padding-right: 30px;
}
                                                               /* BARRE DE NAVIGATION */
.navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
} 
.nav_logo_gauche {
  max-width: 150px;
  margin-bottom: 20px;
  padding: 20px 10px 0px 20px;
}
.nav_logo_centre {
  display: none;
}
.navigation a {
  color: black;
  text-decoration: none;
  border-top: 3px solid transparent;
  padding: 40px 20px 10px 20px;
}
.navigation a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
.navigation a:focus {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
                                                              /* HEADER */
h1 {
  font-size: 16px;
}

.formulaire {
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

form {
  height: 40px;
  margin: 10px 10px 10px 40px;
  position: relative;
}
label {
  height: 40px;
  width: 40px;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  transform: translate(-40px, 0px);
}
.icone_lieu {
  position: absolute;
  z-index: 1;
  transform: translate(-250%, 100%);
}
.ville {
  height: 40px;
  width:240px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: white;
  border: 1px solid #f2f2f2;
  padding-left: 10px;
  
}
.bouton_texte {
  height: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 700;
  background-color: #0065fc;
  color: white;
  border: 1px solid #0065fc;
  border-radius: 0px 10px 10px 0px; 
  padding: 10px;
  position: absolute;  
  right:0px;
}
.loupe {
  display: none;
}
.rond {
  height: 38px;
  width: 38px;
  background-color: #deebff;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icone {
  color: #0065fc;
}
.texte_filtres {
  margin-right: 20px;
}
.filtres {
  font-weight: 700;
  display: flex;
  align-items: baseline;
}
.filtre {
  border: 2px solid #f2f2f2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 10px 5px 5px 20px;
  padding: 10px 10px 10px 40px;
  /* padding-left: 40px; */
  position: relative;
}
.info {
  margin-top:10px;
  display: flex;
  align-items: center;
}
.rond_info {
  height: 20px;
  width: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icone_info {
  color: #0065fc;
}

                                                                     /* MAIN */
.section_h_p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h2 {
  /* max-width: 60%; */
  font-size: 16px;
  font-weight: bold;
}

                                                                 /* HEBERGEMENTS */

.section_h h2 {
  padding-left:20px;
}
.section_h {
  width: 65%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
}

.cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.carte_h {
  /* min-width:230px; */
  min-width:29%;
  /* max-width: 100%; */
  height:170px;
  line-height: 80%;;
  background-color: white;
  border: 4px solid white;
  border-radius: 20px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.16);
  margin: 10px;
}
.photo_h {
  /* height:350px;
  width:240px; */
  height: 90px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.details_hebergements {
  background-color: white;
  border-radius: 0 0 20px 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nom {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
}
.prix {
  font-size: 12px;
  margin-top: 10px;
}
.etoile i, .etoile_p i {
  color: #0065fc;
  font-size:10px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.carte_h1 i:last-child {
  color: #f2f2f2;
}
.carte_h3 i:last-child {
  color: #f2f2f2;
}
.carte_h4 i:last-child {
  color: #f2f2f2;
}
.carte_h4 i:nth-last-child(2) {
  color: #f2f2f2;
}
.carte_h5 i:last-child {
  color: #f2f2f2;
}
.plus {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
}
                                                                    /* LES PLUS POPULAIRES */
aside {
  width: 32%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
}
aside h2 {
  width: 80%;
}
.titre {
  width: 85%;
  margin:0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.icone_fleche {
  color: black;
}
.populaires {
  margin-top:10px;
}
.cartes_p {
  min-height: 420px;
  margin-bottom: 20px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carte_p {
  height: 118px;
  width: 280px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.16);
  border: 4px solid white;
  display: flex;
}
.carte_p:hover, .carte_h:hover {
  color:#0065fc;
  cursor: pointer;
} 
.photo_p {
  height: 110px;
  width: 35%;
  border-radius: 10px 0px 0px 10px;
  object-fit: cover;
}
.details_populaires {
  width: 55%;
  margin-left: 20px;
  padding-right:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carte_p2 i:last-child {
  color: #f2f2f2;
}
.carte_p3 i:last-child {
  color: #f2f2f2;
}
                                                                    /* ACTIVITES A MARSEILLE */
.section_a {
  width: 100%;
  margin: 50px 0px 20px 0px;
} 
.activites {
  width:auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.photo_1{
  height:367px;
  width: 250px;
}
.photo_2 {
  height: 190px;
  width: 250px;
}
.photo_5 {
  height: 130px;
  width: 250px;
}
.photo_3 {
  height: 367px;
  width: 250px;
}
.photo_4 {
  height: 164px;
  width: 250px;
}
.photo_6 {
  height: 164px;
  width: 250px;
}

.carte_a {
  width: 22%;
  display: inline-block;
  border-radius: 20px;
}
.photo_a {
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  object-fit: cover;
  position: relative;
}
.legende {
  width: 100%;
  font-weight: 700;
  background-color: white;
  padding: 15px 20px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.16);
  transform: translate(0px, -45px);
}
                                                                                /* FOOTER */
.nav_footer {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.nav {
  width: 30%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
ul {
  margin-top: 0px;
  padding-left: 0px;
}
li {
  margin-bottom: 10px;
}
.lien {
  color: black;
  text-decoration: none;
}
.lien:hover {
  color:#0065fc;
}
.liste {
  list-style: none;
}

                                                        /* configuration pour un écran de tablette de 768px à 992px */

 @media all and (min-width: 768px) and (max-width: 992px) {

  .navigation {
    width:70%;
    margin:auto;
  }
.loupe {
    display: none;
  }
.header {
  display: flex;
  flex-direction: column;
  align-items:center;
}
.formulaire {
  display: flex;
  justify-content: center;
}
.filtres, .info {
  justify-content:center;
}

.section_h, aside, .section_a, .nav_footer {
    width:70%;
    margin:auto;
  }
 .section_h_p {
    min-height: 860px;
  }
  .titre {
    width:97%;
  }
  .cartes_p {
    width: 100%;
    min-height:100px;
    max-width:none;
    padding:10px;
    flex-direction: row;
    flex-wrap:wrap;
    align-content:space-between;
  }
  .carte_p {
    width: 230px;
  } 
  .details_populaires {
    margin-left:15px;
    padding-right: 5px;
  }
  .photo_p {
    width: 40%;
  }
  .photo_3 {
    height:355px;
  }
  .photo_4 {
    height:145px;
  }
 } 


                                                     /* configuration pour écran de téléphone jusqu'à 768px */

@media all and (max-width: 768px) {

body {
  max-width: 310px;
  /* width:45%; */
  margin:auto;
}
.navigation, header, main {
  padding-left:0px;
  padding-right:0px;
}
  .navigation {
    flex-direction: column;
    align-content: center;
  }
  .navigation a {
    font-weight: 400;
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
  }
  .navigation a:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }
  .navigation a:focus {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }
  .nav_logo_gauche {
    display:none;
  }
  .nav_logo_centre{
    display: block;
    width: 120px;
    padding: 20px 10px 0px 20px;
  }
 .nav_a_h {
  display: flex;
  justify-content: space-between;
  width: 100%;   
 }
 .nav_h,.nav_a {
   width:50%;
   text-align: center;
 }
 header {
   width: 270px;
   margin: auto;
   }
 h1 {
   font-size: 18px;
 }
  .header {  
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
  .formulaire {
    padding:15px 0px 15px 0px;
    display: flex;
    text-align: center;
    justify-content: flex-start;
  }
  form {
    position:relative;
  }
.ville {
  width: 230px;
}
  .loupe {
    height: 40px;
    width: 40px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #0065fc;
    background-color: #0065fc;
    color: white;
    position:absolute;
    right:0px;
    display:inline-block;
  }
  .icone_loupe {
    font-size:10px;
  }
  .bouton_texte {
    display: none;
  }
  .filtres {
    max-width: 289px;
    display: flex;
    flex-wrap: wrap;
  }
  .texte_filtres {
    margin-top:0;
    flex-basis: 150px;
  }
  .filtre {
    margin: 0px 10px 10px 5px;
    padding: 10px 10px 10px 35px;
  }
  .rond_info {
    width: 28px;
    margin-left: 5px;
  }
  .section_h_p {
    flex-direction: column-reverse;
  }
  aside {
    width: 100%;
    padding:20px 0;
    border-radius:0;
  }
  .carte_p {
    width: 100%;
  }
  .section_h {
    width: 100%;
    background-color: white;
    margin-top:0px;
    /* padding:0 20px; */
  }

  h2 {
    width: 100%;
    margin-left:0;
    font-size: 18px;
  }
  .section_h h2 {
    padding-bottom: 10px;
    padding-left:0px;
  }
  .hebergements {
    display: flex;
  }
  .cartes {
    height:1150px;
}
  .carte_h {
    height:174px;
    width:100%;
    margin:0;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.16);
  }
  .details_hebergements {
    line-height: 80%;
  }
  .plus {
    margin-left: 0px;
  }
.section_a {
  height: auto;
  padding:0 20px;
}
.activites {
  height:1200px;
  flex-direction:column;
}
.carte_a {
  height: 174px;
  width: 100%;
}
.photo_a {
  height: 150px;
}
.activite_2_5, .activite_4_6 {
  height: 380px;
}
.nav_footer {
  width:100%;
  margin-top: 20px;
  flex-direction:column;
}
.nav {
  width: 100%;
  padding: 10px 20px 10px 20px;
 }
} 